$sColor: #a8dcdf;
$bColor: #fe6162;
$fColor: #565656;
$hMargin-left: 100px;
$hMargin-top: 25px;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}

body {
	background-color: #fef7ea;
}

nav {
	height: 100px;
	ul {
		li {
			display: inline-block;
		}
		#logo {
			width: 100px;
			border-right: 2px solid $sColor;
			margin-top: $hMargin-top;
			margin-left: $hMargin-left;
			display: inline-block;
			a {
				color: $bColor;
				text-decoration: none;
				font-size: 20px;
				font-weight: bold;
				font-family: "Arial Black";
			}
		}
		#content {
			display: inline-block;
			vertical-align: top;
			li a {
				display: inline-block;
				line-height: 56px;
				padding: 0 20px;
				margin-top: $hMargin-top;
				font-size: 16px;
				color: $fColor;
				font-weight: 900;
				text-decoration: none;
				&:hover {
					color: $bColor;
				}
			}
			#contact {
				color: $bColor;
			}
		}

		#nav-btn {
			display: inline-block;
			position: fixed;
			right: 70px;
			top: 35px;
			img {
				height: 45px;
				background-color: $bColor;
				border-radius: 50%;
				padding: 9px;
				&:hover {
					background-color: $fColor;
				}
			}
			#car {
				margin: 0 15px;
			}
		}
	}
}

#contact-content{
    width: 600px;
    margin: 0 auto;
    h1{
        color: $bColor;
        margin: 50px auto;
    }

    .form{
        display: grid;
        grid-template-columns: 10% 90%;
        margin: 15px 0;
        align-items: center;
        #subject, #name, #phone, #mail{
            padding: 8px;
            background: none;
            border: 1px solid #bbb6ac;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    #form-text{
        display: grid;
        grid-template-columns: 10% 90%;
        margin: 15px 0;
        #text{
            vertical-align: top;
            padding: 8px;
            background: none;
            border: 1px solid #bbb6ac;
            border-radius: 5px;
            font-size: 14px;
        }
    }
   
    #btn{
        text-align: center;
        #reset, #submit{
            padding: 10px 20px;
            margin: 20px 20px;
            background-color: $bColor;
            border-radius: 30px;
            color: #fff;
            border: 0;
        }
    }
    



}


