@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#bg {
  background-image: url(./img/background.jpg);
  height: 100vh;
  background-size: cover;
}

nav {
  height: 100px;
}

nav ul li {
  display: inline-block;
}

nav ul #logo {
  width: 100px;
  border-right: 2px solid #a8dcdf;
  margin-top: 25px;
  margin-left: 100px;
  display: inline-block;
}

nav ul #logo a {
  color: #fe6162;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial Black";
}

nav ul #content {
  display: inline-block;
  vertical-align: top;
}

nav ul #content li a {
  display: inline-block;
  line-height: 56px;
  padding: 0 20px;
  margin-top: 25px;
  font-size: 16px;
  color: #565656;
  font-weight: 900;
  text-decoration: none;
}

nav ul #content li a:hover {
  color: #fe6162;
}

nav ul #nav-btn {
  display: inline-block;
  position: fixed;
  right: 70px;
  top: 35px;
}

nav ul #nav-btn img {
  height: 45px;
  background-color: #fe6162;
  border-radius: 50%;
  padding: 9px;
}

nav ul #nav-btn img:hover {
  background-color: #565656;
}

section {
  margin-left: 100px;
}

section #choice .choice {
  display: inline-block;
  padding: 10px 0;
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
  width: 250px;
}

section #choice #signin {
  background-color: #a8dcdf;
  color: #fff;
  cursor: pointer;
}

section #choice #signup {
  cursor: pointer;
}

section #signin-content {
  margin-top: 80px;
}

section #signin-content .form-box {
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  margin: 30px 0;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

section #signin-content label {
  font-size: 18px;
  color: #fe6162;
}

section #signin-content #account,
section #signin-content #password {
  background: none;
  border: 1px solid #fe6162;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
}

section #signin-content button {
  padding: 10px 25px;
  margin-top: 50px;
  background-color: #fe6162;
  border-radius: 30px;
  color: #fff;
  border: 0;
  font-size: 14px;
  width: 500px;
}

section #signin-content button:hover {
  background-color: #a8dcdf;
}

section #signin-content #forget {
  font-size: 14px;
  color: #a8dcdf;
}

section #signin-content #forget:hover {
  color: #fe6162;
}

section #signup-content {
  display: none;
}

section #signup-content .form-box {
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  margin: 30px 0;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

section #signup-content label {
  font-size: 18px;
  color: #fe6162;
}

section #signup-content #name,
section #signup-content #account,
section #signup-content #password,
section #signup-content #password2 {
  background: none;
  border: 1px solid #fe6162;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
}

section #signup-content button {
  padding: 10px 25px;
  margin-top: 50px;
  background-color: #fe6162;
  border-radius: 30px;
  color: #fff;
  border: 0;
  font-size: 14px;
  width: 500px;
}

section #signup-content button:hover {
  background-color: #a8dcdf;
}

#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}

#menu img {
  height: 30px;
}

#menu:active #menu-list {
  right: 0;
}

#menu:hover #menu-list {
  right: 0;
}

#menu #menu-list {
  height: 100vh;
  width: 300px;
  background-color: #faf1d6;
  position: fixed;
  top: 0;
  right: -300px;
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

#menu #menu-list li {
  list-style: none;
  padding: 15px 15px;
}

#menu #menu-list li a {
  text-decoration: none;
  color: #272727;
}

#menu #menu-list #menu-home {
  background-color: #fe6162;
}

#menu #menu-list #menu-home a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  #menu {
    display: block;
  }
  section {
    margin: 0 10%;
  }
  section #choice {
    width: 90%;
    margin: 0 auto;
  }
  section .choice {
    width: 40%;
  }
  section #signin-content .form-box,
  section #signup-content .form-box {
    width: 80%;
    margin: 30px auto;
  }
  section #forget {
    margin-left: 10%;
  }
  section .btn {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  section .btn button {
    width: 90%;
  }
}

@media screen and (min-width: 769px) {
  nav {
    display: none;
  }
  #menu {
    display: block;
  }
  section {
    margin: 0 10%;
  }
  section #choice {
    width: 90%;
    margin: 0 auto;
  }
  section .choice {
    width: 40%;
  }
  section #signin-content .form-box,
  section #signup-content .form-box {
    width: 80%;
    margin: 30px auto;
  }
  section #forget {
    margin-left: 10%;
  }
  section .btn {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  section .btn button {
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  nav {
    display: block;
  }
  #menu {
    display: none;
  }
  h1 {
    display: none;
  }
  #banner img {
    width: 100%;
  }
  #product-content #icon #icon-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5] !important;
        grid-template-columns: repeat(5, 1fr) !important;
    margin: 0 10%;
  }
  #product-content #birthday .card-group,
  #product-content #bread .card-group,
  #product-content #wedding .card-group,
  #product-content #baby .card-group,
  #product-content #snack .card-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  #product-content #birthday .card-group .img-box,
  #product-content #bread .card-group .img-box,
  #product-content #wedding .card-group .img-box,
  #product-content #baby .card-group .img-box,
  #product-content #snack .card-group .img-box {
    width: 220px;
    height: 220px;
  }
  #product-content #birthday .card,
  #product-content #bread .card,
  #product-content #wedding .card,
  #product-content #baby .card,
  #product-content #snack .card {
    margin-bottom: 50px !important;
  }
  #product-content #birthday .card .img-box:hover .hover-color,
  #product-content #bread .card .img-box:hover .hover-color,
  #product-content #wedding .card .img-box:hover .hover-color,
  #product-content #baby .card .img-box:hover .hover-color,
  #product-content #snack .card .img-box:hover .hover-color {
    display: block !important;
  }
  #product-content #birthday .card .img-box:hover .buy-btn,
  #product-content #bread .card .img-box:hover .buy-btn,
  #product-content #wedding .card .img-box:hover .buy-btn,
  #product-content #baby .card .img-box:hover .buy-btn,
  #product-content #snack .card .img-box:hover .buy-btn {
    display: inline-block !important;
  }
  #product-content #birthday .buy-btn-rwd,
  #product-content #bread .buy-btn-rwd,
  #product-content #wedding .buy-btn-rwd,
  #product-content #baby .buy-btn-rwd,
  #product-content #snack .buy-btn-rwd {
    display: none !important;
  }
  #check-box #sum {
    margin: 50px 0;
    text-align: right;
  }
  footer #footer-box {
    padding: 50px 0;
  }
  footer #footer-box #link li {
    display: inline-block;
    padding: 3px;
  }
}
/*# sourceMappingURL=login.css.map */