@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  height: 100px;
}

nav ul li {
  display: inline-block;
}

nav ul #logo {
  width: 100px;
  border-right: 2px solid #a8dcdf;
  margin-top: 25px;
  margin-left: 100px;
  display: inline-block;
}

nav ul #logo a {
  color: #fe6162;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial Black";
}

nav ul #content {
  display: inline-block;
  vertical-align: top;
}

nav ul #content li a {
  display: inline-block;
  line-height: 56px;
  padding: 0 20px;
  margin-top: 25px;
  font-size: 16px;
  color: #565656;
  font-weight: 900;
  text-decoration: none;
}

nav ul #content li a:hover {
  color: #fe6162;
}

nav ul #content #product {
  color: #fe6162;
}

nav ul #nav-btn {
  display: inline-block;
  position: fixed;
  right: 70px;
  top: 35px;
  z-index: 1;
}

nav ul #nav-btn img {
  height: 45px;
  background-color: #fe6162;
  border-radius: 50%;
  padding: 9px;
}

nav ul #nav-btn img:hover {
  background-color: #565656;
}

nav ul #nav-btn #car {
  margin: 0 15px;
}

#banner {
  max-width: 1200px;
  margin: 0 auto;
}

#banner img {
  height: 400px;
}

#product-content h1 {
  color: #fe6162;
}

#product-content h2 {
  color: #fff;
  background-color: #ffb938;
}

#product-content h5 {
  color: #272727;
}

#product-content #icon1,
#product-content #icon2,
#product-content #icon3,
#product-content #icon4,
#product-content #icon5 {
  width: 100px;
  height: 100px;
  background-color: #faf1d6;
  border-radius: 10px;
}

#product-content #icon1:hover,
#product-content #icon2:hover,
#product-content #icon3:hover,
#product-content #icon4:hover,
#product-content #icon5:hover {
  background-color: #a8dcdf;
}

#product-content #birthday img,
#product-content #bread img,
#product-content #wedding img,
#product-content #baby img,
#product-content #snack img {
  width: 200px !important;
  -webkit-box-sizing: cover;
          box-sizing: cover;
  overflow: hidden;
  background: none;
}

#product-content #birthday .buy,
#product-content #bread .buy,
#product-content #wedding .buy,
#product-content #baby .buy,
#product-content #snack .buy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding: 0 10px;
}

#product-content #birthday .buy .buy-num,
#product-content #bread .buy .buy-num,
#product-content #wedding .buy .buy-num,
#product-content #baby .buy .buy-num,
#product-content #snack .buy .buy-num {
  text-align: center;
}

#product-content #birthday .buy button,
#product-content #bread .buy button,
#product-content #wedding .buy button,
#product-content #baby .buy button,
#product-content #snack .buy button {
  background-color: #a8dcdf;
  border: 0;
  color: #fff;
  padding: 8px;
  margin-left: 5px;
}

#product-content #birthday .buy button:hover,
#product-content #bread .buy button:hover,
#product-content #wedding .buy button:hover,
#product-content #baby .buy button:hover,
#product-content #snack .buy button:hover {
  background-color: #ffb938;
}

#gototop {
  background-color: #fe6162;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

#gototop img {
  height: 50px;
  text-align: center;
  padding: 10px;
}
/*# sourceMappingURL=product.css.map */