$sColor: #a8dcdf;
$bColor: #fe6162;
$fColor: #565656;
$yellow: #ffb938;
$light-yellow: #faf1d6;
$hMargin-left: 100px;
$hMargin-top: 25px;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}

nav {
	height: 100px;
	ul {
		li {
			display: inline-block;
		}
		#logo {
			width: 100px;
			border-right: 2px solid $sColor;
			margin-top: $hMargin-top;
			margin-left: $hMargin-left;
			display: inline-block;
			a {
				color: $bColor;
				text-decoration: none;
				font-size: 20px;
				font-weight: bold;
				font-family: "Arial Black";
			}
		}
		#content {
			display: inline-block;
			vertical-align: top;
			li a {
				display: inline-block;
				line-height: 56px;
				padding: 0 20px;
				margin-top: $hMargin-top;
				font-size: 16px;
				color: $fColor;
				font-weight: 900;
				text-decoration: none;
				&:hover {
					color: $bColor;
				}
			}
			#product {
				color: $bColor;
			}
		}

		#nav-btn {
			display: inline-block;
			position: fixed;
			right: 70px;
			top: 35px;
			z-index: 1;
			img {
				height: 45px;
				background-color: $bColor;
				border-radius: 50%;
				padding: 9px;
				&:hover {
					background-color: $fColor;
				}
			}
			#car {
				margin: 0 15px;
			}
		}
	}
}

#banner {
	max-width: 1000px;
	margin: 50px auto;
	img {
		width: 100%;
	}
}

h1 {
	display: none;
	color: $bColor;
	margin: 50px auto;
}

#product-content {
	margin: 50px auto;
	max-width: 1000px;
	h2 {
		font-size: 30px;
		color: $bColor;
		// background-color: #ffb938;
	}
	h2::before {
		content: "";
		width: 50px;
		height: 3px;
		background-color: $yellow;
		position: absolute;
		margin: 55px 35px 0;
	}

	h5 {
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 3px;
	}
	p {
		color: rgb(39, 39, 39);
		font-weight: 900;
	}
	#icon1,
	#icon2,
	#icon3,
	#icon4,
	#icon5 {
		width: 100px;
		height: 100px;
		background-color: $light-yellow;
		border-radius: 10px;
		&:hover {
			background-color: $yellow;
		}
	}
	#birthday,
	#bread,
	#wedding,
	#baby,
	#snack {
		.card {
			align-items: center;
		}
		#pic1-1 {
			background-image: url(./img/birthdaycake1.jpg);
		}
		#pic1-2 {
			background-image: url(./img/birthdaycake2.jpg);
		}
		#pic1-3 {
			background-image: url(./img/birthdaycake3.jpg);
		}
		#pic1-4 {
			background-image: url(./img/birthdaycake4.jpg);
		}
		#pic2-1 {
			background-image: url(./img/bread1.jpg);
		}
		#pic2-2 {
			background-image: url(./img/bread2.jpg);
		}
		#pic2-3 {
			background-image: url(./img/bread3.jpg);
		}
		#pic2-4 {
			background-image: url(./img/bread4.jpg);
		}
		#pic3-1 {
			background-image: url(./img/weddingcake1.jpg);
		}
		#pic3-2 {
			background-image: url(./img/weddingcake2.jpg);
		}
		#pic3-3 {
			background-image: url(./img/weddingcake3.jpg);
		}
		#pic3-4 {
			background-image: url(./img/weddingcake4.jpg);
		}
		#pic4-1 {
			background-image: url(./img/babycake1.jpg);
		}
		#pic4-2 {
			background-image: url(./img/babycake2.jpg);
		}
		#pic4-3 {
			background-image: url(./img/babycake3.jpg);
		}
		#pic4-4 {
			background-image: url(./img/babycake4.jpg);
		}
		#pic5-1 {
			background-image: url(./img/snack1.jpg);
		}
		#pic5-2 {
			background-image: url(./img/snack2.jpg);
		}
		#pic5-3 {
			background-image: url(./img/snack3.jpg);
		}
		#pic5-4 {
			background-image: url(./img/snack4.jpg);
		}
		.img-box {
			height: 220px;
			width: 220px;
			background-size: contain;
			.hover-color {
				width: 220px;
				height: 220px;
				background-color: rgba(0, 0, 0, 0.5);
				display: none;
			}
			.buy-btn {
				background-color: #fff;
				border: 0;
				color: $fColor;
				padding: 8px 30px;
				display: none;
				border-radius: 5px;
				margin: 150px 40px;
				cursor: pointer;
				&:hover {
					background-color: $yellow;
					color: #fff;
					transition: 0.3s;
				}
			}

			&:hover {
				.hover-color {
					display: block;
				}
				.buy-btn {
					display: inline-block;
				}
			}
		}
		.card-body {
			p {
				margin-bottom: 0;
			}
		}
		.buy-btn-rwd {
			background-color: $yellow;
			color: #fff;
			border: 0;
			padding: 8px 30px;
			display: none;
			border-radius: 5px;
			margin: 0 40px;
		}
	}
}

#check-box {
	background-color: $light-yellow;
	padding: 20px 0;
	margin-top: 30px;
	#check {
		max-width: 1000px;
		margin: 0 auto 100px;
		h1 {
			color: $bColor;
			margin: 50px auto;
			text-align: center;
		}
		#title {
			display: grid;
			grid-template-columns: 50% 25% 25%;
			p {
				text-align: center;
				font-weight: 900;
				color: rgb(39, 39, 39);
			}
		}
	}

	#check1-1,
	#check1-2,
	#check1-3,
	#check1-4,
	#check2-1,
	#check2-2,
	#check2-3,
	#check2-4,
	#check3-1,
	#check3-2,
	#check3-3,
	#check3-4,
	#check4-1,
	#check4-2,
	#check4-3,
	#check4-4,
	#check5-1,
	#check5-2,
	#check5-3,
	#check5-4 {
		display: grid;
		grid-template-columns: 50% 25% 25%;
		div {
			text-align: center;
			color: rgb(39, 39, 39);
		}
	}

	#sum {
		margin: 20px 0;
		text-align: right;
		h5,
		#total {
			display: inline-block;
			color: $bColor;
			font-size: 30px;
			font-weight: 900;
		}
	}

	#buy-box {
		text-align: center;
		#go-to-buy {
			padding: 10px 25px;
			margin: 20px;
			background-color: $bColor;
			border-radius: 30px;
			color: #fff;
			border: 0;
			font-size: 14px;
			&:hover {
				background-color: $sColor;
			}
		}
	}
}

#gototop {
	background-color: $bColor;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
	img {
		height: 50px;
		text-align: center;
		padding: 10px;
	}
}

footer {
	background-color: $yellow;
	color: #fff;
	#footer-box {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	li {
		display: inline;
		font-size: 16px;
		margin: 0 5px;
		a {
			text-decoration: none;
			color: #fff;
			&:hover {
				color: $light-yellow;
				text-decoration: none;
			}
		}
	}
	h3 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	#sub {
		display: grid;
		grid-template-columns: 70% 20%;
		grid-gap: 10px;
		input {
			border: 0;
			padding: 5px;
			border-radius: 5px;
			font-size: 14px;
		}
		button {
			color: $yellow;
			border: 0;
			background-color: #fff;
			border-radius: 5px;
			cursor: pointer;
			font-size: 14px;
		}
	}
	#copy {
		text-align: center;
		grid-column: 1/3;
		padding: 50px 0;
	}
}

#menu {
	position: fixed;
	top: 20px;
	right: 20px;
	display: none;
	cursor: pointer;
	img {
		height: 30px;
	}
	&:active #menu-list {
		right: 0;
	}
	&:hover #menu-list {
		right: 0;
	}
	#menu-list {
		// padding: 20px;
		height: 100vh;
		width: 300px;
		background-color: $light-yellow;
		position: fixed;
		top: 0;
		right: -300px;
		box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
		transition: 1s;
		li {
			list-style: none;
			padding: 15px 15px;
			a {
				text-decoration: none;
				color: rgb(39, 39, 39);
			}
		}
		#menu-home {
			background-color: $bColor;
			a {
				color: #fff;
			}
		}
	}
}

// 手機
@media screen and (max-width: 768px) {
	nav {
		display: none;
	}
	#menu {
		display: block;
	}
	.carousel {
		margin: 0 auto;
	}
	h1 {
		display: block;
		text-align: center;
	}
	#banner {
		img {
			width: 100%;
		}
	}
	#product-content {
		#icon {
			#icon-group {
				display: grid;
				grid-template-columns: repeat(2, 1fr) !important;
				margin: 0 10%;
			}
		}
		#birthday,
		#bread,
		#wedding,
		#baby,
		#snack {
			.card-group {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				.img-box {
					width: 150px;
					height: 150px;
				}
			}
			.card {
				margin-bottom: 50px !important;
				.hover-color {
					display: none !important;
				}
				.buy-btn {
					display: none !important;
				}
			}
			.buy-btn-rwd {
				display: block !important;
				font-size: 12px;
				padding: 8px 15px;
			}
		}
	}
	#check-box {
		#sum {
			margin: 50px 0;
			text-align: center;
		}
	}

	footer {
		#footer-box {
			display: block;
			padding: 0 20px;
			#link {
				padding: 50px 0;
				li {
					display: block;
					margin: 10px 0;
				}
			}
		}
	}
}

// 平板
@media screen and (min-width: 769px) {
	nav {
		display: none;
	}
	#menu {
		display: block;
	}
	.carousel {
		margin: 0 auto;
	}
	h1 {
		display: block;
		text-align: center;
	}
	#banner {
		img {
			width: 100%;
		}
	}
	#product-content {
		#icon {
			#icon-group {
				display: grid;
				grid-template-columns: repeat(5, 1fr) !important;
				margin: 0 10%;
			}
		}
		#birthday,
		#bread,
		#wedding,
		#baby,
		#snack {
			.card-group {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				.img-box {
					width: 200px;
					height: 200px;
				}
			}
			.card {
				margin-bottom: 50px !important;
				.hover-color {
					display: none !important;
				}
				.buy-btn {
					display: none !important;
				}
			}
			.buy-btn-rwd {
				display: block !important;
				font-size: 16px;
				padding: 8px 15px;
			}
		}
	}
	#check-box {
		#sum {
			margin: 50px 0;
			text-align: center;
		}
	}

	footer {
		#footer-box {
			padding: 50px 180px;
			#link {
				li {
					display: block;
					padding: 5px;
				}
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	nav {
		display: block;
	}
	#menu {
		display: none;
	}
	h1 {
		display: none;
	}
	#banner {
		img {
			width: 100%;
		}
	}
	#product-content {
		#icon {
			#icon-group {
				display: grid;
				grid-template-columns: repeat(5, 1fr) !important;
				margin: 0 10%;
			}
		}
		#birthday,
		#bread,
		#wedding,
		#baby,
		#snack {
			.card-group {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				.img-box {
					width: 220px;
					height: 220px;
				}
			}
			.card {
				margin-bottom: 50px !important;
				.img-box {
					&:hover {
						.hover-color {
							display: block !important;
						}
						.buy-btn {
							display: inline-block !important;
						}
					}
				}
			}
			.buy-btn-rwd {
				display: none !important;
			}
		}
	}
	#check-box {
		#sum {
			margin: 50px 0;
			text-align: right;
		}
	}
	footer {
		#footer-box {
			padding: 50px 0;
			#link {
				li {
					display: inline-block;
					padding: 3px;
				}
			}
		}
	}
}
