$sColor: #a8dcdf;
$bColor: #fe6162;
$fColor: #565656;
$hMargin-left: 100px;
$hMargin-top: 25px;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}

body {
	background-color: #fef7ea;
}

nav {
	height: 100px;
	ul {
		li {
			display: inline-block;
		}
		#logo {
			width: 100px;
			border-right: 2px solid $sColor;
			margin-top: $hMargin-top;
			margin-left: $hMargin-left;
			display: inline-block;
			a {
				color: $bColor;
				text-decoration: none;
				font-size: 20px;
				font-weight: bold;
				font-family: "Arial Black";
			}
		}
		#content {
			display: inline-block;
			vertical-align: top;
			li a {
				display: inline-block;
				line-height: 56px;
				padding: 0 20px;
				margin-top: $hMargin-top;
				font-size: 16px;
				color: $fColor;
				font-weight: 900;
				text-decoration: none;
				&:hover {
					color: $bColor;
				}
			}
			#store {
				color: $bColor;
			}
		}

		#nav-btn {
			display: inline-block;
			position: fixed;
			right: 70px;
			top: 35px;
			img {
				height: 45px;
				background-color: $bColor;
				border-radius: 50%;
				padding: 9px;
				&:hover {
					background-color: $fColor;
				}
			}
		}
	}
}

.carousel{
	width: 1000px;
	margin: 50px auto;
}

.store{
	width: 1000px;
	margin: 100px auto;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	h2{
		color: $bColor;
	}
	h2::before{
		content:'';
		position: absolute;
		margin-top: 70px;
		width: 30px;
		height: 5px;
		background-color: #ffb938;
	}
	div{
		padding: 100px 0 0 0;
		p{
			margin: 5px;
		}
	}
	iframe{
		grid-column: 2/3;
		grid-row: 1/3;
	}
}
