$sColor: #a8dcdf;
$bColor: #fe6162;
$fColor: #565656;
$yellow: #ffb938;
$light-yellow: #faf1d6;
$hMargin-left: 100px;
$hMargin-top: 25px;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}
#rwd-nav{
	display: none;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	position: sticky;
	top: 0;
	z-index: 1;
	#rwd-logo {
		border-right: 2px solid $sColor;
		display: inline-block;
		margin: 10px 10px 10px 30px ;
		padding: 0 15px;
		li{
			color: $bColor;
			list-style: none;
			font-size: 14px;
			font-weight: bold;
		}
	}
	#rwd-title{
		display: inline-block;
		color: $bColor;
		vertical-align: top;
		margin-top: 17px;
		font-size: 20px;
		font-weight: 500;
	}
	#menu {
		position: fixed;
		top: 20px;
		right: 20px;
		cursor: pointer;
		img {
			height: 30px;
		}
		&:active #menu-list {
			right: 0;
		}
		&:hover #menu-list {
			right: 0;
		}
		#menu-list {
			height: 100vh;
			width: 300px;
			background-color: $light-yellow;
			position: fixed;
			top: 0;
			right: -305px;
			box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
			transition: 1s;
			li {
				list-style: none;
				padding: 15px 15px;
				a {
					text-decoration: none;
					color: rgb(39, 39, 39);
				}
			}
			#menu-home {
				background-color: $bColor;
				a {
					color: #fff;
				}
			}
		}
	}
}
#bg {
	background-image: url(../img/background.jpg);
	height: 100vh;
	// 背景填滿整個元素
	background-size: cover;
}

nav {
	height: 100px;
	ul {
		li {
			display: inline-block;
		}
		#logo {
			width: 100px;
			border-right: 2px solid $sColor;
			margin-top: $hMargin-top;
			margin-left: $hMargin-left;
			display: inline-block;
			a {
				color: $bColor;
				text-decoration: none;
				font-size: 20px;
				font-weight: bold;
				font-family: "Arial Black";
			}
		}
		#content {
			display: inline-block;
			vertical-align: top;
			li a {
				display: inline-block;
				line-height: 56px;
				padding: 0 20px;
				margin-top: $hMargin-top;
				font-size: 16px;
				color: $fColor;
				font-weight: 900;
				text-decoration: none;
				&:hover {
					color: $bColor;
				}
			}
		}
		#nav-btn {
			display: inline-block;
			position: fixed;
			right: 70px;
			top: 35px;
			img {
				height: 45px;
				background-color: $bColor;
				border-radius: 50%;
				padding: 9px;
				&:hover {
					background-color: $fColor;
				}
			}
		}
	}
}



section {
	#title {
		font-size: 70px;
		font-weight: 900;
		color: $fColor;
		margin-left: $hMargin-left;
		margin-top: 80px;
		div {
			height: 70px;
		}
	}
	#s-title {
		margin-left: $hMargin-left;
		margin-top: 30px;
		font-size: 16px;
		color: #949494;
		p {
			display: inline-block;
			margin: 0 15px 0 0;
		}
	}
	#home-shop {
		padding: 10px 20px;
		margin: 30px 0 0 $hMargin-left;
		background-color: #fff;
		border: 2px solid $bColor;
		font-size: 16px;
		border-radius: 30px;
		cursor: pointer;
		a {
			text-decoration: none;
			color: $bColor;
		}
		&:hover {
			a {
				color: #fff;
			}
			background-color: $bColor;
		}
	}
	#contact-btn {
		position: fixed;
		bottom: $hMargin-top;
		left: $hMargin-left;
		img {
			height: 40px;
			border-radius: 50%;
		}
		#fb {
			margin: 0 10px;
		}
	}
}

footer {
	background-color: $yellow;
	color: #fff;
	#footer-box {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	li {
		display: inline;
		font-size: 16px;
		margin: 0 5px;
		a {
			text-decoration: none;
			color: #fff;
			&:hover {
				color: $light-yellow;
				text-decoration: none;
			}
		}
	}
	h3 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	#sub {
		display: grid;
		grid-template-columns: 70% 20%;
		grid-gap: 10px;
		input {
			border: 0;
			padding: 5px;
			border-radius: 5px;
		}
		button {
			color: $yellow;
			border: 0;
			background-color: #fff;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	#copy {
		text-align: center;
		grid-column: 1/3;
		margin: 50px 0;
	}
}

@media screen and (max-width: 768px) {
	#bg{
		background-image: url(../img/rwd-home.jpg);
	}
	nav {
		display: none;
	}
	#rwd-nav {
		display: block;
		#menu-list {
			width: 200px;
		}
	}
	section {
		#title {
			margin-left: 50px;
			margin-top: 200px;
		}
		#s-title {
			margin-left: 50px;
			margin-top: 30px;
			p {
				display: block;
			}
		}
		#home-shop {
			margin: 30px 0 0 50px;
		}
		#contact-btn {
			display: none;
		}
	}
}

@media screen and (min-width: 769px) {
	#bg{
		background-image: url(../img/rwd-home.jpg);
	}
	nav {
		display: none;
	}
	#rwd-nav {
		display: block;
	}
	section {
		#title {
			margin-left: 50px;
			margin-top: 200px;
		}
		#s-title {
			margin-left: 50px;
			margin-top: 30px;
			p {
				display: block;
			}
		}
		#home-shop {
			margin: 30px 0 0 50px;
		}
		#contact-btn {
			display: none;
		}
	}
}
@media screen and (min-width: 1025px) {
	#bg{
		background-image: url(../img/background.jpg);
	}
	nav {
		display: block;
	}
	#rwd-nav{
		display: none;
	}
	section {
		#title {
			margin-left: $hMargin-left;
			margin-top: 80px;
		}
		#s-title {
			margin-left: $hMargin-left;
			margin-top: 30px;
			p {
				display: inline-block;
			}
		}
		#home-shop {
			margin: 30px 0 0 $hMargin-left;
		}
		#contact-btn {
			display: block;
		}
	}
}
