@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  height: 100px;
}

nav ul li {
  display: inline-block;
}

nav ul #logo {
  width: 100px;
  border-right: 2px solid #a8dcdf;
  margin-top: 25px;
  margin-left: 100px;
  display: inline-block;
}

nav ul #logo a {
  color: #fe6162;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial Black";
}

nav ul #content {
  display: inline-block;
  vertical-align: top;
}

nav ul #content li a {
  display: inline-block;
  line-height: 56px;
  padding: 0 20px;
  margin-top: 25px;
  font-size: 16px;
  color: #565656;
  font-weight: 900;
  text-decoration: none;
}

nav ul #content li a:hover {
  color: #fe6162;
}

nav ul #content #new {
  color: #fe6162;
}

nav ul #nav-btn {
  display: inline-block;
  position: fixed;
  right: 70px;
  top: 35px;
}

nav ul #nav-btn img {
  height: 45px;
  background-color: #fe6162;
  border-radius: 50%;
  padding: 9px;
}

nav ul #nav-btn img:hover {
  background-color: #565656;
}

#new-banner {
  max-width: 1000px;
  margin: 50px auto;
}

h1 {
  display: none;
  color: #fe6162;
  margin: 50px 0;
}

#new-content {
  max-width: 1000px;
  margin: 0 auto;
}

#new-content .new {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 45% 20%;
      grid-template-columns: 35% 45% 20%;
  margin: 30px 0;
}

#new-content .new img {
  width: 300px;
}

#new-content .new .text h2 {
  color: #fe6162;
  margin-bottom: 20px;
}

#new-content .new .text p {
  padding: 3px 0;
}

#new-content .new .date {
  text-align: right;
  color: #565656;
}

#new-content .new .date .month {
  font-size: 14px;
}

#new-content .new .date .day {
  font-size: 45px;
  font-weight: 700;
}

#new-content .new .date-RWD {
  display: none;
  font-size: 14px;
  color: #565656;
}

footer {
  background-color: #ffb938;
  color: #fff;
}

footer #footer-box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer li {
  display: inline;
  font-size: 16px;
  margin: 0 5px;
}

footer li a {
  text-decoration: none;
  color: #fff;
}

footer li a:hover {
  color: #faf1d6;
  text-decoration: none;
}

footer h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

footer #sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 20%;
      grid-template-columns: 70% 20%;
  grid-gap: 10px;
}

footer #sub input {
  border: 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

footer #sub button {
  color: #ffb938;
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

footer #copy {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 50px 0;
}

#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}

#menu img {
  height: 30px;
}

#menu:active #menu-list {
  right: 0;
}

#menu:hover #menu-list {
  right: 0;
}

#menu #menu-list {
  height: 100vh;
  width: 300px;
  background-color: #faf1d6;
  position: fixed;
  top: 0;
  right: -300px;
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

#menu #menu-list li {
  list-style: none;
  padding: 15px 15px;
}

#menu #menu-list li a {
  text-decoration: none;
  color: #272727;
}

#menu #menu-list #menu-home {
  background-color: #fe6162;
}

#menu #menu-list #menu-home a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  #menu {
    display: block;
  }
  #new-banner {
    margin: 0;
  }
  #new-banner img {
    width: 100%;
  }
  h1 {
    display: block;
    text-align: center;
  }
  #new-content {
    margin: 0 10%;
  }
  #new-content .new {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
  }
  #new-content .new img {
    margin: 0 auto;
  }
  #new-content .new h2 {
    padding: 10px 0;
  }
  #new-content .new .date {
    display: none;
  }
  #new-content .new .date-RWD {
    display: block;
  }
  footer #footer-box {
    display: block;
    padding: 0 20px;
  }
  footer #footer-box #link {
    padding: 50px 0;
  }
  footer #footer-box #link li {
    display: block;
    margin: 10px 0;
  }
}

@media screen and (min-width: 769px) {
  nav {
    display: none;
  }
  #menu {
    display: block;
  }
  #new-banner {
    margin: 0 auto;
  }
  #new-banner img {
    width: 100%;
  }
  h1 {
    display: block;
    text-align: center;
  }
  #new-content {
    margin: 0;
  }
  #new-content .new {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 30px 0;
  }
  #new-content .new img {
    margin: 0 auto;
  }
  #new-content .new h2 {
    padding: 0;
  }
  #new-content .new .date {
    display: none;
  }
  #new-content .new .date-RWD {
    display: block;
  }
  footer #footer-box {
    padding: 50px 180px;
  }
  footer #footer-box #link li {
    display: block;
    padding: 5px;
  }
}

@media screen and (min-width: 1025px) {
  nav {
    display: block;
  }
  #menu {
    display: none;
  }
  h1 {
    display: none;
  }
  #new-content {
    max-width: 1000px;
    margin: 30px auto;
  }
  #new-content .new {
    -ms-grid-columns: 35% 45% 20%;
        grid-template-columns: 35% 45% 20%;
  }
  #new-content .new img {
    margin: 0;
  }
  #new-content .new h2 {
    padding: 0;
  }
  #new-content .new .date {
    display: block;
  }
  #new-content .new .date-RWD {
    display: none;
  }
  footer #footer-box {
    padding: 50px 0;
  }
  footer #footer-box #link li {
    display: inline-block;
    padding: 3px;
  }
}
/*# sourceMappingURL=new.css.map */