$sColor: #a8dcdf;
$bColor: #fe6162;
$fColor: #565656;
$yellow: #ffb938;
$light-yellow: #faf1d6;
$hMargin-left: 100px;
$hMargin-top: 25px;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}
#rwd-nav {
	display: none;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	position: sticky;
	top: 0;
	z-index: 100;
	#rwd-logo {
		border-right: 2px solid $sColor;
		display: inline-block;
		margin: 10px 10px 10px 10px;
		padding: 0 10px;
		li {
			color: $bColor;
			list-style: none;
			font-size: 14px;
			font-weight: bold;
		}
	}
	#rwd-title {
		display: inline-block;
		color: $bColor;
		vertical-align: top;
		margin-top: 17px;
		font-size: 20px;
		font-weight: 500;
	}
	#menu {
		position: fixed;
		top: 15px;
		right: 20px;
		cursor: pointer;
		img {
			height: 30px;
		}
		&:active #menu-list {
			right: 0;
		}
		&:hover #menu-list {
			right: 0;
		}
		#menu-list {
			height: 100vh;
			width: 50%;
			background-color: $light-yellow;
			position: fixed;
			top: 0;
			right: -55%;
			box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
			transition: 1s;
			a {
				display: block;
				text-decoration: none;
				color: $fColor;
				color: rgb(39, 39, 39);
				li {
					list-style: none;
					padding: 15px 15px;
				}
			}
			
			#menu-new {
				background-color: $bColor;
				color: #fff;
			}
		}
	}
}

nav {
	height: 100px;
	ul {
		li {
			display: inline-block;
		}
		#logo {
			width: 100px;
			border-right: 2px solid $sColor;
			margin-top: $hMargin-top;
			margin-left: $hMargin-left;
			display: inline-block;
			a {
				color: $bColor;
				text-decoration: none;
				font-size: 20px;
				font-weight: bold;
				font-family: "Arial Black";
			}
		}
		#content {
			display: inline-block;
			vertical-align: top;
			li a {
				display: inline-block;
				line-height: 56px;
				padding: 0 20px;
				margin-top: $hMargin-top;
				font-size: 16px;
				color: $fColor;
				font-weight: 900;
				text-decoration: none;
				&:hover {
					color: $bColor;
				}
			}
			#new {
				color: $bColor;
			}
		}

		#nav-btn {
			display: inline-block;
			position: fixed;
			right: 70px;
			top: 35px;
			z-index: 1;
			img {
				height: 45px;
				background-color: $bColor;
				border-radius: 50%;
				padding: 9px;
				&:hover {
					background-color: $fColor;
				}
			}
		}
	}
}

.carousel {
	max-width: 1000px;
	margin: 0 auto 50px;
}


#new-content {
	max-width: 1000px;
	margin: 0 auto;
	.new {
		display: grid;
		grid-template-columns: 35% 45% 20%;
		margin: 30px 0;
		img {
			width: 300px;
		}
		.text {
			h2 {
				color: $bColor;
				margin-bottom: 20px;
			}
			p {
				padding: 3px 0;
				margin: 0;
			}
		}
		.date {
			text-align: right;
			color: $fColor;
			.month {
				font-size: 14px;
			}
			.day {
				font-size: 45px;
				font-weight: 700;
			}
		}
		.date-RWD {
			display: none;
			font-size: 14px;
			color: $fColor;
		}
	}
}

footer {
	background-color: $yellow;
	color: #fff;
	#footer-box {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px 0;
	}
	#link {
		margin-bottom: 50px;
		#link-box {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			padding: 0 20%;
		}
		.link {
			padding: 5px 0;
			a {
				display: inline-block;
				width: 100px;
				text-align: center;
				font-size: 16px;
				text-decoration: none;
				color: #fff;
				&:hover {
					color: $light-yellow;
					text-decoration: none;
				}
			}
		}
	}

	#sub-box {
		width: 60%;
		margin: 0 auto;
		h3 {
			font-size: 24px;
			margin-bottom: 15px;
			text-align: center;
		}
		#sub {
			display: grid;
			grid-template-columns: 70% 30%;
			grid-gap: 10px;
			input {
				border: 0;
				padding: 5px;
				border-radius: 5px;
				font-size: 14px;
			}
			button {
				color: $yellow;
				border: 0;
				background-color: #fff;
				border-radius: 5px;
				cursor: pointer;
				padding: 5px;
				font-size: 14px;
			}
		}
	}
	#copy {
		text-align: center;
		grid-column: 1/3;
		padding: 50px 0;
	}
}

// 手機
@media screen and (max-width: 768px) {
	nav {
		display: none;
	}
	#rwd-nav {
		display: block;
		#menu-list{
			width: 50%;
		}
	}
	#new-banner {
		margin: 0;
		img {
			width: 100%;
		}
	}
	#new-content {
		margin: 0 10%;
		.new {
			grid-template-columns: repeat(1, 1fr);
			margin: 50px 0;
			img {
				margin: 0 auto;
			}
			.text{
				width: 300px;
				margin: 0 auto;
			}
			h2 {
				padding: 10px 0;
			}
			.date {
				display: none;
			}
			.date-RWD {
				display: block;
			}
		}
	}

	footer {
		#footer-box {
			#link {
				margin-bottom: 50px;
				#link-box {
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					margin: 0 auto;
					a {
						text-align: center;
					}
				}
				.link {
					margin: 0 auto;
				}
			}
		}
		#sub-box {
			h3 {
				text-align: left;
			}
			#sub {
				grid-template-columns: 1fr;
				button {
					width: 30%;
				}
			}
		}
	}
}

// 平板
@media screen and (min-width: 769px) {
	nav {
		display: none;
	}
	#rwd-nav {
		display: block;
		#menu-list{
			width: 300px;
		}
	}
	#new-banner {
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
	#new-content {
		margin: 0;
		.new {
			grid-template-columns: 1fr 1fr;
			margin: 30px 0;
			img {
				margin: 0 auto;
			}
			h2 {
				padding: 0;
			}
			.date {
				display: none;
			}
			.date-RWD {
				display: block;
			}
		}
	}

	footer {
		#footer-box {
			#link {
				margin-bottom: 50px;
				#link-box {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					margin: 0 auto;
					a {
						text-align: center;
					}
				}
				.link {
					margin: 0 auto;
				}
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	nav {
		display: block;
	}
	#rwd-nav {
		display: none;
	}
	#new-content {
		max-width: 1000px;
		margin: 30px auto;
		.new {
			grid-template-columns: 35% 45% 20%;
			img {
				margin: 0;
			}
			h2 {
				padding: 0;
			}
			.date {
				display: block;
			}
			.date-RWD {
				display: none;
			}
		}
	}
	footer {
		#footer-box {
			#link {
				margin-bottom: 50px;
				#link-box {
					display: grid;
					grid-template-columns: repeat(6, 1fr);
					.link {
						margin: 0;
					}
					a {
						text-align: center;
					}
				}
			}
		}
	}
}
