$sColor: #a8dcdf;
$bColor: #fe6162;
$fColor: #565656;
$yellow: #ffb938;
$light-yellow: #faf1d6;
$hMargin-left: 100px;
$hMargin-top: 25px;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}
#rwd-nav{
	display: none;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	position: sticky;
	top: 0;
	z-index: 1;
	#rwd-logo {
		border-right: 2px solid $sColor;
		display: inline-block;
		margin: 10px 10px 10px 10px ;
		padding: 0 10px;
		li{
			color: $bColor;
			list-style: none;
			font-size: 14px;
			font-weight: bold;
		}
	}
	#rwd-title{
		display: inline-block;
		color: $bColor;
		vertical-align: top;
		margin-top: 17px;
		font-size: 20px;
		font-weight: 500;
	}
	#menu {
		position: fixed;
		top: 15px;
		right: 20px;
		cursor: pointer;
		img {
			height: 30px;
		}
		&:active #menu-list {
			right: 0;
		}
		&:hover #menu-list {
			right: 0;
		}
		#menu-list {
			height: 100vh;
			width: 50%;
			background-color: $light-yellow;
			position: fixed;
			top: 0;
			right: -55%;
			box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
			transition: 1s;
			a {
				display: block;
				text-decoration: none;
				color: $fColor;
				color: rgb(39, 39, 39);
				li {
					list-style: none;
					padding: 15px 15px;
				}
			}
			
			#menu-login {
				background-color: $bColor;
				color: #fff;
			}
		}
	}
}

#bg {
	background-image: url(../img/background.jpg);
	height: 100vh;
	// 背景填滿整個元素
	background-size: cover;
}

nav {
	height: 100px;
	ul {
		li {
			display: inline-block;
		}
		#logo {
			width: 100px;
			border-right: 2px solid $sColor;
			margin-top: $hMargin-top;
			margin-left: $hMargin-left;
			display: inline-block;
			a {
				color: $bColor;
				text-decoration: none;
				font-size: 20px;
				font-weight: bold;
				font-family: "Arial Black";
			}
		}
		#content {
			display: inline-block;
			vertical-align: top;
			li a {
				display: inline-block;
				line-height: 56px;
				padding: 0 20px;
				margin-top: $hMargin-top;
				font-size: 16px;
				color: $fColor;
				font-weight: 900;
				text-decoration: none;
				&:hover {
					color: $bColor;
				}
			}
		}
		#nav-btn {
			display: inline-block;
			position: fixed;
			right: 70px;
			top: 35px;
			img {
				height: 45px;
				background-color: $bColor;
				border-radius: 50%;
				padding: 9px;
				&:hover {
					background-color: $fColor;
				}
			}
		}
	}
}

section {
	margin-left: $hMargin-left;
	#choice {
		.choice {
			display: inline-block;
			padding: 10px 0;
			margin-top: 100px;
			font-size: 18px;
			text-align: center;
			width: 250px;
		}
		#signin {
			background-color: $sColor;
			color: #fff;
			cursor: pointer;
		}
		#signup {
			cursor: pointer;
		}
	}

	#signin-content {
		margin-top: 80px;
		.form-box {
			width: 500px;
			display: grid;
			grid-template-columns: 15% 85%;
			margin: 30px 0;
			// height: 30px;
			align-items: center;
			padding: 0 15px;
		}
		label {
			font-size: 18px;
			color: $bColor;
			padding: 0 15px;
		}

		#account,
		#password {
			background: none;
			border: 1px solid $bColor;
			border-radius: 5px;
			font-size: 14px;
			height: 40px;
		}

		button {
			padding: 10px 25px;
			margin-top: 50px;
			background-color: $bColor;
			border-radius: 30px;
			color: #fff;
			border: 0;
			font-size: 14px;
			width: 500px;
			&:hover {
				background-color: $sColor;
			}
		}

		#forget {
			font-size: 14px;
			color: $sColor;
			&:hover {
				color: $bColor;
			}
		}
	}

	#signup-content {
		display: none;
		.form-box {
			width: 500px;
			display: grid;
			grid-template-columns: 30% 70%;
			margin: 30px 0;
			// height: 30xpx;
			align-items: left;
			padding: 0 15px;
		}
		label {
			// text-align: center;
			font-size: 18px;
			color: $bColor;
		}

		#name,
		#account,
		#password,
		#password2 {
			background: none;
			border: 1px solid $bColor;
			border-radius: 5px;
			font-size: 14px;
			height: 40px;
		}
		button {
			padding: 10px 25px;
			margin-top: 50px;
			background-color: $bColor;
			border-radius: 30px;
			color: #fff;
			border: 0;
			font-size: 14px;
			width: 500px;
			&:hover {
				background-color: $sColor;
			}
		}
	}
}

// 手機
@media screen and (max-width: 768px) {
	#bg{
		background-image: url(../img/rwd-home.jpg);
	}
	nav {
		display: none;
	}
	#rwd-nav {
		display: block;
		#menu-list{
			width: 50%;
		}
	}
	section {
		margin: 0;
		#choice{
			width: 300px;
			margin: 0 auto;
		}
		.choice {
			width: 140px!important;
		}
		#signin-content,
		#signup-content {
			.form-box {
				width: 90%;
				margin: 30px auto;
				grid-template-columns: repeat(1,1fr);
				input{
					margin: 5px 0;
				}
				label{
					padding: 5px 0;
				}
			}
		}
		#forget{
			margin-left: 20%;
		}
		.btn{
			margin: 0 auto;
			width: 300px;
			text-align: center;
			button{
				width: 300px!important;
			}
		}
	}
}

// 平板
@media screen and (min-width: 769px) {
	#bg{
		background-image: url(../img/rwd-home.jpg);
	}
	nav {
		display: none;
	}
	#rwd-nav {
		display: block;
		#menu-list{
			width: 300px;
		}
	}
	section {
		margin: 0;
		#choice{
			width: 400px;
			margin: 0 auto;
		}
		.choice {
			width: 190px!important;
		}
		#signin-content,
		#signup-content {
			.form-box {
				width: 65%;
				margin: 30px auto;
			}
		}
		#signin-content{
			grid-template-columns: 15% 85%;
		}
		#forget{
			margin-left: 20%;
		}
		.btn{
			margin: 0 auto;
			width: 300px;
			text-align: center;
			button{
				width: 300px!important;
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	#bg{
		background-image: url(../img/background.jpg);
	}
	nav {
		display: block;
	}
	#rwd-nav {
		display: none;
	}
	section {
		margin: 0;
		#choice{
			width: 550px;
			margin-left:$hMargin-left;

		}
		
		.choice {
			width: 250px!important;
		}
		#signin-content,
		#signup-content {
			.form-box {
				width: 500px;
				margin: 30px 0;
				margin-left: $hMargin-left;
			}
		}
		#signin-content{
			grid-template-columns: 15% 85%;
		}
		#forget{
			margin-left:$hMargin-left;
		}
		.btn{
			margin: 0;
			margin-left: $hMargin-left;
			width: 500px;
			text-align: center;
			button{
				width: 500px!important;
			}
		}
	}
}
