@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#rwd-nav {
  display: none;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

#rwd-nav #rwd-logo {
  border-right: 2px solid #a8dcdf;
  display: inline-block;
  margin: 10px 10px 10px 30px;
  padding: 0 15px;
}

#rwd-nav #rwd-logo li {
  color: #fe6162;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
}

#rwd-nav #rwd-title {
  display: inline-block;
  color: #fe6162;
  vertical-align: top;
  margin-top: 17px;
  font-size: 20px;
  font-weight: 500;
}

#rwd-nav #menu {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#rwd-nav #menu img {
  height: 30px;
}

#rwd-nav #menu:active #menu-list {
  right: 0;
}

#rwd-nav #menu:hover #menu-list {
  right: 0;
}

#rwd-nav #menu #menu-list {
  height: 100vh;
  width: 300px;
  background-color: #faf1d6;
  position: fixed;
  top: 0;
  right: -305px;
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

#rwd-nav #menu #menu-list li {
  list-style: none;
  padding: 15px 15px;
}

#rwd-nav #menu #menu-list li a {
  text-decoration: none;
  color: #272727;
}

#rwd-nav #menu #menu-list #menu-login {
  background-color: #fe6162;
}

#rwd-nav #menu #menu-list #menu-login a {
  color: #fff;
}

#bg {
  background-image: url(../img/background.jpg);
  height: 100vh;
  background-size: cover;
}

nav {
  height: 100px;
}

nav ul li {
  display: inline-block;
}

nav ul #logo {
  width: 100px;
  border-right: 2px solid #a8dcdf;
  margin-top: 25px;
  margin-left: 100px;
  display: inline-block;
}

nav ul #logo a {
  color: #fe6162;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial Black";
}

nav ul #content {
  display: inline-block;
  vertical-align: top;
}

nav ul #content li a {
  display: inline-block;
  line-height: 56px;
  padding: 0 20px;
  margin-top: 25px;
  font-size: 16px;
  color: #565656;
  font-weight: 900;
  text-decoration: none;
}

nav ul #content li a:hover {
  color: #fe6162;
}

nav ul #nav-btn {
  display: inline-block;
  position: fixed;
  right: 70px;
  top: 35px;
}

nav ul #nav-btn img {
  height: 45px;
  background-color: #fe6162;
  border-radius: 50%;
  padding: 9px;
}

nav ul #nav-btn img:hover {
  background-color: #565656;
}

section {
  margin-left: 100px;
}

section #choice .choice {
  display: inline-block;
  padding: 10px 0;
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
  width: 250px;
}

section #choice #signin {
  background-color: #a8dcdf;
  color: #fff;
  cursor: pointer;
}

section #choice #signup {
  cursor: pointer;
}

section #signin-content {
  margin-top: 80px;
}

section #signin-content .form-box {
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

section #signin-content label {
  font-size: 18px;
  color: #fe6162;
  padding: 0 15px;
}

section #signin-content #account,
section #signin-content #password {
  background: none;
  border: 1px solid #fe6162;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
}

section #signin-content button {
  padding: 10px 25px;
  margin-top: 50px;
  background-color: #fe6162;
  border-radius: 30px;
  color: #fff;
  border: 0;
  font-size: 14px;
  width: 500px;
}

section #signin-content button:hover {
  background-color: #a8dcdf;
}

section #signin-content #forget {
  font-size: 14px;
  color: #a8dcdf;
}

section #signin-content #forget:hover {
  color: #fe6162;
}

section #signup-content {
  display: none;
}

section #signup-content .form-box {
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  margin: 30px 0;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0 15px;
}

section #signup-content label {
  font-size: 18px;
  color: #fe6162;
}

section #signup-content #name,
section #signup-content #account,
section #signup-content #password,
section #signup-content #password2 {
  background: none;
  border: 1px solid #fe6162;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
}

section #signup-content button {
  padding: 10px 25px;
  margin-top: 50px;
  background-color: #fe6162;
  border-radius: 30px;
  color: #fff;
  border: 0;
  font-size: 14px;
  width: 500px;
}

section #signup-content button:hover {
  background-color: #a8dcdf;
}

@media screen and (max-width: 768px) {
  #bg {
    background-image: url(../img/rwd-home.jpg);
  }
  nav {
    display: none;
  }
  #rwd-nav {
    display: block;
  }
  section {
    margin: 0;
  }
  section #choice {
    width: 300px;
    margin: 0 auto;
  }
  section .choice {
    width: 140px !important;
  }
  section #signin-content .form-box,
  section #signup-content .form-box {
    width: 90%;
    margin: 30px auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  section #signin-content .form-box input,
  section #signup-content .form-box input {
    margin: 5px 0;
  }
  section #signin-content .form-box label,
  section #signup-content .form-box label {
    padding: 5px 0;
  }
  section #forget {
    margin-left: 20%;
  }
  section .btn {
    margin: 0 auto;
    width: 300px;
    text-align: center;
  }
  section .btn button {
    width: 300px !important;
  }
}

@media screen and (min-width: 769px) {
  #bg {
    background-image: url(../img/rwd-home.jpg);
  }
  nav {
    display: none;
  }
  #rwd-nav {
    display: block;
  }
  section {
    margin: 0;
  }
  section #choice {
    width: 400px;
    margin: 0 auto;
  }
  section .choice {
    width: 190px !important;
  }
  section #signin-content .form-box,
  section #signup-content .form-box {
    width: 65%;
    margin: 30px auto;
  }
  section #signin-content {
    -ms-grid-columns: 15% 85%;
        grid-template-columns: 15% 85%;
  }
  section #forget {
    margin-left: 20%;
  }
  section .btn {
    margin: 0 auto;
    width: 300px;
    text-align: center;
  }
  section .btn button {
    width: 300px !important;
  }
}

@media screen and (min-width: 1025px) {
  #bg {
    background-image: url(../img/background.jpg);
  }
  nav {
    display: block;
  }
  #rwd-nav {
    display: none;
  }
  section {
    margin: 0;
  }
  section #choice {
    width: 550px;
    margin-left: 100px;
  }
  section .choice {
    width: 250px !important;
  }
  section #signin-content .form-box,
  section #signup-content .form-box {
    width: 500px;
    margin: 30px 0;
    margin-left: 100px;
  }
  section #signin-content {
    -ms-grid-columns: 15% 85%;
        grid-template-columns: 15% 85%;
  }
  section #forget {
    margin-left: 100px;
  }
  section .btn {
    margin: 0;
    margin-left: 100px;
    width: 500px;
    text-align: center;
  }
  section .btn button {
    width: 500px !important;
  }
}
/*# sourceMappingURL=login.css.map */