@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#rwd-nav {
  display: none;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

#rwd-nav #rwd-logo {
  border-right: 2px solid #a8dcdf;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  padding: 0 10px;
}

#rwd-nav #rwd-logo li {
  color: #fe6162;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
}

#rwd-nav #rwd-title {
  display: inline-block;
  color: #fe6162;
  vertical-align: top;
  margin-top: 17px;
  font-size: 20px;
  font-weight: 500;
}

#rwd-nav #menu {
  position: fixed;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

#rwd-nav #menu img {
  height: 30px;
}

#rwd-nav #menu:active #menu-list {
  right: 0;
}

#rwd-nav #menu:hover #menu-list {
  right: 0;
}

#rwd-nav #menu #menu-list {
  height: 100vh;
  width: 50%;
  background-color: #faf1d6;
  position: fixed;
  top: 0;
  right: -55%;
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

#rwd-nav #menu #menu-list a {
  display: block;
  text-decoration: none;
  color: #565656;
  color: #272727;
}

#rwd-nav #menu #menu-list a li {
  list-style: none;
  padding: 15px 15px;
}

#rwd-nav #menu #menu-list #menu-story {
  background-color: #fe6162;
  color: #fff;
}

body {
  background-color: #fef7ea;
}

nav {
  height: 100px;
}

nav ul li {
  display: inline-block;
}

nav ul #logo {
  width: 100px;
  border-right: 2px solid #a8dcdf;
  margin-top: 25px;
  margin-left: 100px;
  display: inline-block;
}

nav ul #logo a {
  color: #fe6162;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial Black";
}

nav ul #content {
  display: inline-block;
  vertical-align: top;
}

nav ul #content li a {
  display: inline-block;
  line-height: 56px;
  padding: 0 20px;
  margin-top: 25px;
  font-size: 16px;
  color: #565656;
  font-weight: 900;
  text-decoration: none;
}

nav ul #content li a:hover {
  color: #fe6162;
}

nav ul #content #story {
  color: #fe6162;
}

nav ul #nav-btn {
  display: inline-block;
  position: fixed;
  right: 70px;
  top: 35px;
}

nav ul #nav-btn img {
  height: 45px;
  background-color: #fe6162;
  border-radius: 50%;
  padding: 9px;
}

nav ul #nav-btn img:hover {
  background-color: #565656;
}

#story-content {
  max-width: 1000px;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#story-content #pic1 {
  width: 500px;
  margin: 20px 0;
  border-radius: 15px;
}

#story-content #pic1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#story-content #pic2 {
  width: 500px;
  height: 450px;
  background-color: #ffb938;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-image: url(../img/story2.jpeg);
  background-size: cover;
  border-radius: 15px;
}

#story-content p {
  padding: 20px 0;
  width: 450px;
  color: #272727;
}

footer {
  background-color: #ffb938;
  color: #fff;
}

footer #footer-box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

footer #link {
  margin-bottom: 50px;
}

footer #link #link-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 0 20%;
}

footer #link .link {
  padding: 5px 0;
}

footer #link .link a {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

footer #link .link a:hover {
  color: #faf1d6;
  text-decoration: none;
}

footer #sub-box {
  width: 60%;
  margin: 0 auto;
}

footer #sub-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

footer #sub-box #sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  grid-gap: 10px;
}

footer #sub-box #sub input {
  border: 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

footer #sub-box #sub button {
  color: #ffb938;
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
}

footer #copy {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  #rwd-nav {
    display: block;
  }
  #rwd-nav #menu-list {
    width: 50%;
  }
  #story-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 50px auto;
  }
  #story-content #text1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #story-content p {
    width: 80%;
    margin: 0 auto;
  }
  #story-content #pic1,
  #story-content #pic2 {
    width: 80%;
    margin: 20px auto;
  }
  #story-content #pic1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #story-content #pic2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  footer #footer-box #link {
    margin-bottom: 50px;
  }
  footer #footer-box #link #link-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  footer #footer-box #link #link-box a {
    text-align: center;
  }
  footer #footer-box #link .link {
    margin: 0 auto;
  }
  footer #sub-box h3 {
    text-align: left;
  }
  footer #sub-box #sub {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer #sub-box #sub button {
    width: 30%;
  }
}

@media screen and (min-width: 769px) {
  nav {
    display: none;
  }
  #rwd-nav {
    display: block;
  }
  #rwd-nav #menu-list {
    width: 300px;
  }
  #story-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 50px 5%;
  }
  #story-content #text1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  #story-content p {
    width: 100%;
  }
  #story-content #pic1,
  #story-content #pic2 {
    width: 80%;
    margin: 20px auto;
  }
  #story-content #pic2 {
    height: 80%;
  }
  footer #footer-box #link {
    margin-bottom: 50px;
  }
  footer #footer-box #link #link-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  footer #footer-box #link #link-box a {
    text-align: center;
  }
  footer #footer-box #link .link {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  nav {
    display: block;
  }
  #rwd-nav {
    display: none;
  }
  #story-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 50px auto;
  }
  #story-content #text1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  #story-content p {
    width: 100%;
  }
  #story-content #pic1,
  #story-content #pic2 {
    width: 100%;
    margin: 20px auto;
  }
  #story-content #pic2 {
    height: 100%;
  }
  footer #footer-box #link #link-box {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  footer #footer-box #link #link-box .link {
    margin: 0;
  }
  footer #footer-box #link #link-box a {
    text-align: center;
  }
}
/*# sourceMappingURL=story.css.map */