$sColor: #a8dcdf;
$bColor: #fe6162;
$fColor: #565656;
$yellow: #ffb938;
$light-yellow: #faf1d6;
$hMargin-left: 100px;
$hMargin-top: 25px;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}

body {
	background-color: #fef7ea;
}

nav {
	height: 100px;
	ul {
		li {
			display: inline-block;
		}
		#logo {
			width: 100px;
			border-right: 2px solid $sColor;
			margin-top: $hMargin-top;
			margin-left: $hMargin-left;
			display: inline-block;
			a {
				color: $bColor;
				text-decoration: none;
				font-size: 20px;
				font-weight: bold;
				font-family: "Arial Black";
			}
		}
		#content {
			display: inline-block;
			vertical-align: top;
			li a {
				display: inline-block;
				line-height: 56px;
				padding: 0 20px;
				margin-top: $hMargin-top;
				font-size: 16px;
				color: $fColor;
				font-weight: 900;
				text-decoration: none;
				&:hover {
					color: $bColor;
				}
			}
			#story {
				color: $bColor;
			}
		}
		#nav-btn {
			display: inline-block;
			position: fixed;
			right: 70px;
			top: 35px;
			img {
				height: 45px;
				background-color: $bColor;
				border-radius: 50%;
				padding: 9px;
				&:hover {
					background-color: $fColor;
				}
			}
		}
	}
}

#menu {
	position: fixed;
	top: 20px;
	right: 20px;
	display: none;
	cursor: pointer;
	img {
		height: 30px;
	}
	&:active #menu-list {
		right: 0;
	}
	&:hover #menu-list {
		right: 0;
	}
	#menu-list {
		// padding: 20px;
		height: 100vh;
		width: 300px;
		background-color: $light-yellow;
		position: fixed;
		top: 0;
		right: -300px;
		box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
		transition: 1s;
		li {
			list-style: none;
			padding: 15px 15px;
			a {
				text-decoration: none;
				color: rgb(39, 39, 39);
			}
		}
		#menu-home {
			background-color: $bColor;
			a {
				color: #fff;
			}
		}
	}
}

h1 {
	display: none;
	color: $bColor;
	margin: 50px 0;
}

#story-content {
	max-width: 1000px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	#pic1,
	#pic2 {
		width: 500px;
		margin: 20px 0;
		border-radius: 15px;
	}
	
	p {
		padding: 20px 0;
		width: 450px;
		color: rgb(39, 39, 39);
	}
}

footer {
	background-color: $yellow;
	color: #fff;
	#footer-box {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	li {
		display: inline;
		font-size: 16px;
		margin: 0 5px;
		a {
			text-decoration: none;
			color: #fff;
			&:hover {
				color: $light-yellow;
				text-decoration: none;
			}
		}
	}
	h3 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	#sub {
		display: grid;
		grid-template-columns: 70% 20%;
		grid-gap: 10px;
		input {
			border: 0;
			padding: 5px;
			border-radius: 5px;
		}
		button {
			color: $yellow;
			border: 0;
			background-color: #fff;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	#copy {
		text-align: center;
		grid-column: 1/3;
		padding: 50px 0;
	}
}

@media screen and (max-width: 768px) {
	nav {
		display: none;
	}
	#menu {
		display: block;
	}
	h1{
		display: block;
		text-align: center;
	}
	#story-content{
		grid-template-columns: repeat(1, 1fr);
		margin: 50px auto;
		#text1 {
			grid-row: 1/2;
			
		}
		p {
			width: 300px;
			margin: 0 auto;
		}
		#pic1,
		#pic2 {
			width: 270px;
			margin: 20px auto;
		}
	}
	footer{
		#footer-box{
			display: block;
			padding: 0 20px;
			#link{
				padding:50px 0;
				li{
					display: block;
					margin: 10px 0;
				}
			}
			
			
		}
	}
}

@media screen and (min-width: 769px) {
	nav {
		display: none;
	}
	#menu {
		display: block;
	}
	h1{
		display: block;
		text-align: center;
	}
	#story-content{
		grid-template-columns: repeat(2, 1fr);
		#text1 {
			grid-column: 2/3;
		}
	}
	footer{
		#footer-box{
			padding: 50px 180px;
			#link{
				li{
					display: block;
					padding: 5px;
				}
			}	
		}
	}
}

@media screen and (min-width: 1024px) {
	nav {
		display: block;
	}
	#menu {
		display: none;
	}
	h1{
		display: none;
	}
	#story-content{
		grid-template-columns: repeat(2, 1fr);
		#text1 {
			grid-column: 2/3;
		}
	}
	footer{
		#footer-box{
			padding: 50px 0;
			#link{
				li{
					display: inline-block;
					padding: 3px;
				}
			}
			
		}
	}
}
