@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#rwd-nav {
  display: none;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

#rwd-nav #rwd-logo {
  border-right: 2px solid #a8dcdf;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  padding: 0 10px;
}

#rwd-nav #rwd-logo li {
  color: #fe6162;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
}

#rwd-nav #rwd-title {
  display: inline-block;
  color: #fe6162;
  vertical-align: top;
  margin-top: 17px;
  font-size: 20px;
  font-weight: 500;
}

#rwd-nav #menu {
  position: fixed;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

#rwd-nav #menu img {
  height: 30px;
}

#rwd-nav #menu:active #menu-list {
  right: 0;
}

#rwd-nav #menu:hover #menu-list {
  right: 0;
}

#rwd-nav #menu #menu-list {
  height: 100vh;
  width: 50%;
  background-color: #faf1d6;
  position: fixed;
  top: 0;
  right: -55%;
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

#rwd-nav #menu #menu-list a {
  display: block;
  text-decoration: none;
  color: #565656;
  color: #272727;
}

#rwd-nav #menu #menu-list a li {
  list-style: none;
  padding: 15px 15px;
}

#rwd-nav #menu #menu-list #menu-product {
  background-color: #fe6162;
  color: #fff;
}

nav {
  height: 100px;
}

nav ul li {
  display: inline-block;
}

nav ul #logo {
  width: 100px;
  border-right: 2px solid #a8dcdf;
  margin-top: 25px;
  margin-left: 100px;
  display: inline-block;
}

nav ul #logo a {
  color: #fe6162;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav ul #content {
  display: inline-block;
  vertical-align: top;
}

nav ul #content li a {
  display: inline-block;
  line-height: 56px;
  padding: 0 20px;
  margin-top: 25px;
  font-size: 16px;
  color: #565656;
  font-weight: 900;
  text-decoration: none;
}

nav ul #content li a:hover {
  color: #fe6162;
}

nav ul #content #product {
  color: #fe6162;
}

nav ul #nav-btn {
  display: inline-block;
  position: fixed;
  right: 70px;
  top: 35px;
  z-index: 1;
}

nav ul #nav-btn img {
  height: 45px;
  background-color: #fe6162;
  border-radius: 50%;
  padding: 9px;
}

nav ul #nav-btn img:hover {
  background-color: #565656;
}

nav ul #nav-btn #car {
  margin: 0 15px;
}

#banner {
  max-width: 1000px;
  margin: 50px auto;
}

#banner img {
  width: 100%;
}

#product-content {
  margin: 50px auto;
  max-width: 1000px;
}

#product-content h2 {
  font-size: 30px;
  color: #fe6162;
  font-weight: 900;
}

#product-content h2::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #ffb938;
  position: absolute;
  margin: 55px 35px 0;
}

#product-content h5 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 3px;
}

#product-content p {
  color: #272727;
  font-weight: 900;
}

#product-content #icon1,
#product-content #icon2,
#product-content #icon3,
#product-content #icon4,
#product-content #icon5 {
  width: 100px;
  height: 100px;
  background-color: #faf1d6;
  border-radius: 10px;
}

#product-content #icon1:hover,
#product-content #icon2:hover,
#product-content #icon3:hover,
#product-content #icon4:hover,
#product-content #icon5:hover {
  background-color: #ffb938;
}

#product-content #birthday .card,
#product-content #bread .card,
#product-content #wedding .card,
#product-content #baby .card,
#product-content #snack .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product-content #birthday #pic1-1,
#product-content #bread #pic1-1,
#product-content #wedding #pic1-1,
#product-content #baby #pic1-1,
#product-content #snack #pic1-1 {
  background-image: url(../img/birthdaycake1.jpg);
}

#product-content #birthday #pic1-2,
#product-content #bread #pic1-2,
#product-content #wedding #pic1-2,
#product-content #baby #pic1-2,
#product-content #snack #pic1-2 {
  background-image: url(../img/birthdaycake2.jpg);
}

#product-content #birthday #pic1-3,
#product-content #bread #pic1-3,
#product-content #wedding #pic1-3,
#product-content #baby #pic1-3,
#product-content #snack #pic1-3 {
  background-image: url(../img/birthdaycake3.jpg);
}

#product-content #birthday #pic1-4,
#product-content #bread #pic1-4,
#product-content #wedding #pic1-4,
#product-content #baby #pic1-4,
#product-content #snack #pic1-4 {
  background-image: url(../img/birthdaycake4.jpg);
}

#product-content #birthday #pic2-1,
#product-content #bread #pic2-1,
#product-content #wedding #pic2-1,
#product-content #baby #pic2-1,
#product-content #snack #pic2-1 {
  background-image: url(../img/bread1.jpg);
}

#product-content #birthday #pic2-2,
#product-content #bread #pic2-2,
#product-content #wedding #pic2-2,
#product-content #baby #pic2-2,
#product-content #snack #pic2-2 {
  background-image: url(../img/bread2.jpg);
}

#product-content #birthday #pic2-3,
#product-content #bread #pic2-3,
#product-content #wedding #pic2-3,
#product-content #baby #pic2-3,
#product-content #snack #pic2-3 {
  background-image: url(../img/bread3.jpg);
}

#product-content #birthday #pic2-4,
#product-content #bread #pic2-4,
#product-content #wedding #pic2-4,
#product-content #baby #pic2-4,
#product-content #snack #pic2-4 {
  background-image: url(../img/bread4.jpg);
}

#product-content #birthday #pic3-1,
#product-content #bread #pic3-1,
#product-content #wedding #pic3-1,
#product-content #baby #pic3-1,
#product-content #snack #pic3-1 {
  background-image: url(../img/weddingcake1.jpg);
}

#product-content #birthday #pic3-2,
#product-content #bread #pic3-2,
#product-content #wedding #pic3-2,
#product-content #baby #pic3-2,
#product-content #snack #pic3-2 {
  background-image: url(../img/weddingcake2.jpg);
}

#product-content #birthday #pic3-3,
#product-content #bread #pic3-3,
#product-content #wedding #pic3-3,
#product-content #baby #pic3-3,
#product-content #snack #pic3-3 {
  background-image: url(../img/weddingcake3.jpg);
}

#product-content #birthday #pic3-4,
#product-content #bread #pic3-4,
#product-content #wedding #pic3-4,
#product-content #baby #pic3-4,
#product-content #snack #pic3-4 {
  background-image: url(../img/weddingcake4.jpg);
}

#product-content #birthday #pic4-1,
#product-content #bread #pic4-1,
#product-content #wedding #pic4-1,
#product-content #baby #pic4-1,
#product-content #snack #pic4-1 {
  background-image: url(../img/babycake1.jpg);
}

#product-content #birthday #pic4-2,
#product-content #bread #pic4-2,
#product-content #wedding #pic4-2,
#product-content #baby #pic4-2,
#product-content #snack #pic4-2 {
  background-image: url(../img/babycake2.jpg);
}

#product-content #birthday #pic4-3,
#product-content #bread #pic4-3,
#product-content #wedding #pic4-3,
#product-content #baby #pic4-3,
#product-content #snack #pic4-3 {
  background-image: url(../img/babycake3.jpg);
}

#product-content #birthday #pic4-4,
#product-content #bread #pic4-4,
#product-content #wedding #pic4-4,
#product-content #baby #pic4-4,
#product-content #snack #pic4-4 {
  background-image: url(../img/babycake4.jpg);
}

#product-content #birthday #pic5-1,
#product-content #bread #pic5-1,
#product-content #wedding #pic5-1,
#product-content #baby #pic5-1,
#product-content #snack #pic5-1 {
  background-image: url(../img/snack1.jpg);
}

#product-content #birthday #pic5-2,
#product-content #bread #pic5-2,
#product-content #wedding #pic5-2,
#product-content #baby #pic5-2,
#product-content #snack #pic5-2 {
  background-image: url(../img/snack2.jpg);
}

#product-content #birthday #pic5-3,
#product-content #bread #pic5-3,
#product-content #wedding #pic5-3,
#product-content #baby #pic5-3,
#product-content #snack #pic5-3 {
  background-image: url(../img/snack3.jpg);
}

#product-content #birthday #pic5-4,
#product-content #bread #pic5-4,
#product-content #wedding #pic5-4,
#product-content #baby #pic5-4,
#product-content #snack #pic5-4 {
  background-image: url(../img/snack4.jpg);
}

#product-content #birthday .img-box,
#product-content #bread .img-box,
#product-content #wedding .img-box,
#product-content #baby .img-box,
#product-content #snack .img-box {
  height: 220px;
  width: 220px;
  background-size: contain;
}

#product-content #birthday .img-box .hover-color,
#product-content #bread .img-box .hover-color,
#product-content #wedding .img-box .hover-color,
#product-content #baby .img-box .hover-color,
#product-content #snack .img-box .hover-color {
  width: 220px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#product-content #birthday .img-box .buy-btn,
#product-content #bread .img-box .buy-btn,
#product-content #wedding .img-box .buy-btn,
#product-content #baby .img-box .buy-btn,
#product-content #snack .img-box .buy-btn {
  background-color: #fff;
  border: 0;
  color: #565656;
  padding: 8px 30px;
  display: none;
  border-radius: 5px;
  margin: 150px 40px;
  cursor: pointer;
}

#product-content #birthday .img-box .buy-btn:hover,
#product-content #bread .img-box .buy-btn:hover,
#product-content #wedding .img-box .buy-btn:hover,
#product-content #baby .img-box .buy-btn:hover,
#product-content #snack .img-box .buy-btn:hover {
  background-color: #ffb938;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#product-content #birthday .img-box:hover .hover-color,
#product-content #bread .img-box:hover .hover-color,
#product-content #wedding .img-box:hover .hover-color,
#product-content #baby .img-box:hover .hover-color,
#product-content #snack .img-box:hover .hover-color {
  display: block;
}

#product-content #birthday .img-box:hover .buy-btn,
#product-content #bread .img-box:hover .buy-btn,
#product-content #wedding .img-box:hover .buy-btn,
#product-content #baby .img-box:hover .buy-btn,
#product-content #snack .img-box:hover .buy-btn {
  display: inline-block;
}

#product-content #birthday .card-body p,
#product-content #bread .card-body p,
#product-content #wedding .card-body p,
#product-content #baby .card-body p,
#product-content #snack .card-body p {
  margin-bottom: 0;
}

#product-content #birthday .buy-btn-rwd,
#product-content #bread .buy-btn-rwd,
#product-content #wedding .buy-btn-rwd,
#product-content #baby .buy-btn-rwd,
#product-content #snack .buy-btn-rwd {
  background-color: #ffb938;
  color: #fff;
  border: 0;
  padding: 8px 30px;
  display: none;
  border-radius: 5px;
}

#check-box {
  background-color: #faf1d6;
  padding: 20px 0;
  margin-top: 30px;
}

#check-box #check {
  max-width: 1000px;
  margin: 0 auto 100px;
}

#check-box #check h1 {
  color: #fe6162;
  margin: 50px auto;
  text-align: center;
}

#check-box #check #title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
}

#check-box #check #title p {
  text-align: center;
  font-weight: 900;
  color: #272727;
}

#check-box #check1-1,
#check-box #check1-2,
#check-box #check1-3,
#check-box #check1-4,
#check-box #check2-1,
#check-box #check2-2,
#check-box #check2-3,
#check-box #check2-4,
#check-box #check3-1,
#check-box #check3-2,
#check-box #check3-3,
#check-box #check3-4,
#check-box #check4-1,
#check-box #check4-2,
#check-box #check4-3,
#check-box #check4-4,
#check-box #check5-1,
#check-box #check5-2,
#check-box #check5-3,
#check-box #check5-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
}

#check-box #check1-1 div,
#check-box #check1-2 div,
#check-box #check1-3 div,
#check-box #check1-4 div,
#check-box #check2-1 div,
#check-box #check2-2 div,
#check-box #check2-3 div,
#check-box #check2-4 div,
#check-box #check3-1 div,
#check-box #check3-2 div,
#check-box #check3-3 div,
#check-box #check3-4 div,
#check-box #check4-1 div,
#check-box #check4-2 div,
#check-box #check4-3 div,
#check-box #check4-4 div,
#check-box #check5-1 div,
#check-box #check5-2 div,
#check-box #check5-3 div,
#check-box #check5-4 div {
  text-align: center;
  color: #272727;
}

#check-box #sum {
  margin: 20px 0;
  text-align: right;
}

#check-box #sum h5,
#check-box #sum #total {
  display: inline-block;
  color: #fe6162;
  font-size: 30px;
  font-weight: 900;
}

#check-box #buy-box {
  text-align: center;
}

#check-box #buy-box #go-to-buy {
  padding: 10px 25px;
  margin: 20px;
  background-color: #fe6162;
  border-radius: 30px;
  color: #fff;
  border: 0;
  font-size: 14px;
}

#check-box #buy-box #go-to-buy:hover {
  background-color: #a8dcdf;
}

#gototop {
  background-color: #fe6162;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

#gototop img {
  height: 50px;
  text-align: center;
  padding: 10px;
}

footer {
  background-color: #ffb938;
  color: #fff;
}

footer #footer-box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

footer #link {
  margin-bottom: 50px;
}

footer #link #link-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 0 20%;
}

footer #link .link {
  padding: 5px 0;
}

footer #link .link a {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

footer #link .link a:hover {
  color: #faf1d6;
  text-decoration: none;
}

footer #sub-box {
  width: 60%;
  margin: 0 auto;
}

footer #sub-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

footer #sub-box #sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  grid-gap: 10px;
}

footer #sub-box #sub input {
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

footer #sub-box #sub button {
  color: #ffb938;
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

footer #copy {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  #rwd-nav {
    display: block;
  }
  #rwd-nav #menu-list {
    width: 50%;
  }
  .carousel {
    margin: 0 auto;
  }
  #banner {
    margin: 0 auto;
  }
  #banner img {
    width: 100%;
  }
  #product-content #icon #icon-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    margin: 0 10%;
  }
  #product-content #birthday .card-group,
  #product-content #bread .card-group,
  #product-content #wedding .card-group,
  #product-content #baby .card-group,
  #product-content #snack .card-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #product-content #birthday .card-group .img-box,
  #product-content #bread .card-group .img-box,
  #product-content #wedding .card-group .img-box,
  #product-content #baby .card-group .img-box,
  #product-content #snack .card-group .img-box {
    width: 150px;
    height: 150px;
  }
  #product-content #birthday .card,
  #product-content #bread .card,
  #product-content #wedding .card,
  #product-content #baby .card,
  #product-content #snack .card {
    margin-bottom: 50px !important;
  }
  #product-content #birthday .card .hover-color,
  #product-content #bread .card .hover-color,
  #product-content #wedding .card .hover-color,
  #product-content #baby .card .hover-color,
  #product-content #snack .card .hover-color {
    display: none !important;
  }
  #product-content #birthday .card .buy-btn,
  #product-content #bread .card .buy-btn,
  #product-content #wedding .card .buy-btn,
  #product-content #baby .card .buy-btn,
  #product-content #snack .card .buy-btn {
    display: none !important;
  }
  #product-content #birthday .buy-btn-rwd,
  #product-content #bread .buy-btn-rwd,
  #product-content #wedding .buy-btn-rwd,
  #product-content #baby .buy-btn-rwd,
  #product-content #snack .buy-btn-rwd {
    display: block !important;
    font-size: 12px;
    padding: 8px 10px;
  }
  #check-box #sum {
    margin: 50px 0;
    text-align: center;
  }
  footer #footer-box #link {
    margin-bottom: 50px;
  }
  footer #footer-box #link #link-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  footer #footer-box #link #link-box a {
    text-align: center;
  }
  footer #footer-box #link .link {
    margin: 0 auto;
  }
  footer #sub-box h3 {
    text-align: left;
  }
  footer #sub-box #sub {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer #sub-box #sub button {
    width: 30%;
  }
}

@media screen and (min-width: 769px) {
  nav {
    display: none;
  }
  #rwd-nav {
    display: block;
  }
  #rwd-nav #menu-list {
    width: 300px;
  }
  .carousel {
    margin: 0 auto;
  }
  #banner {
    margin: 0 auto;
  }
  #banner img {
    width: 100%;
  }
  #product-content #icon #icon-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5] !important;
        grid-template-columns: repeat(5, 1fr) !important;
    margin: 0 10%;
  }
  #product-content #birthday .card-group,
  #product-content #bread .card-group,
  #product-content #wedding .card-group,
  #product-content #baby .card-group,
  #product-content #snack .card-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #product-content #birthday .card-group .img-box,
  #product-content #bread .card-group .img-box,
  #product-content #wedding .card-group .img-box,
  #product-content #baby .card-group .img-box,
  #product-content #snack .card-group .img-box {
    width: 200px;
    height: 200px;
  }
  #product-content #birthday .card,
  #product-content #bread .card,
  #product-content #wedding .card,
  #product-content #baby .card,
  #product-content #snack .card {
    margin-bottom: 50px !important;
  }
  #product-content #birthday .card .hover-color,
  #product-content #bread .card .hover-color,
  #product-content #wedding .card .hover-color,
  #product-content #baby .card .hover-color,
  #product-content #snack .card .hover-color {
    display: none !important;
  }
  #product-content #birthday .card .buy-btn,
  #product-content #bread .card .buy-btn,
  #product-content #wedding .card .buy-btn,
  #product-content #baby .card .buy-btn,
  #product-content #snack .card .buy-btn {
    display: none !important;
  }
  #product-content #birthday .buy-btn-rwd,
  #product-content #bread .buy-btn-rwd,
  #product-content #wedding .buy-btn-rwd,
  #product-content #baby .buy-btn-rwd,
  #product-content #snack .buy-btn-rwd {
    display: block !important;
    font-size: 16px;
    padding: 8px 15px;
  }
  #check-box #sum {
    margin: 50px 0;
    text-align: center;
  }
  footer #footer-box #link {
    margin-bottom: 50px;
  }
  footer #footer-box #link #link-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  footer #footer-box #link #link-box a {
    text-align: center;
  }
  footer #footer-box #link .link {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  nav {
    display: block;
  }
  #rwd-nav {
    display: none;
  }
  #banner {
    margin: 50px auto;
  }
  #banner img {
    width: 100%;
  }
  #product-content #icon #icon-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5] !important;
        grid-template-columns: repeat(5, 1fr) !important;
    margin: 0 10%;
  }
  #product-content #birthday .card-group,
  #product-content #bread .card-group,
  #product-content #wedding .card-group,
  #product-content #baby .card-group,
  #product-content #snack .card-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  #product-content #birthday .card-group .img-box,
  #product-content #bread .card-group .img-box,
  #product-content #wedding .card-group .img-box,
  #product-content #baby .card-group .img-box,
  #product-content #snack .card-group .img-box {
    width: 220px;
    height: 220px;
  }
  #product-content #birthday .card,
  #product-content #bread .card,
  #product-content #wedding .card,
  #product-content #baby .card,
  #product-content #snack .card {
    margin-bottom: 50px !important;
  }
  #product-content #birthday .card .img-box:hover .hover-color,
  #product-content #bread .card .img-box:hover .hover-color,
  #product-content #wedding .card .img-box:hover .hover-color,
  #product-content #baby .card .img-box:hover .hover-color,
  #product-content #snack .card .img-box:hover .hover-color {
    display: block !important;
  }
  #product-content #birthday .card .img-box:hover .buy-btn,
  #product-content #bread .card .img-box:hover .buy-btn,
  #product-content #wedding .card .img-box:hover .buy-btn,
  #product-content #baby .card .img-box:hover .buy-btn,
  #product-content #snack .card .img-box:hover .buy-btn {
    display: inline-block !important;
  }
  #product-content #birthday .buy-btn-rwd,
  #product-content #bread .buy-btn-rwd,
  #product-content #wedding .buy-btn-rwd,
  #product-content #baby .buy-btn-rwd,
  #product-content #snack .buy-btn-rwd {
    display: none !important;
  }
  #check-box #sum {
    margin: 50px 0;
    text-align: right;
  }
  footer #footer-box #link {
    margin-bottom: 50px;
  }
  footer #footer-box #link #link-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  footer #footer-box #link #link-box .link {
    margin: 0;
  }
  footer #footer-box #link #link-box a {
    text-align: center;
  }
}
/*# sourceMappingURL=product.css.map */